<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.T05.krowdtrialz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrowdTrialz"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.publish.PublishActivity" />
        <activity android:name=".ui.QnA.AskQuestionActivity"></activity>
        <activity android:name=".ui.QnA.QuestionDetailsActivity" />
        <activity android:name=".ui.QnA.QuestionsActivity" />
        <activity android:name=".ui.owner.UserActivity"></activity>
        <activity android:name=".ui.trial.SaveBarCodeActivity" />
        <activity android:name=".ui.subscribed.ScanActivity" />
        <activity android:name=".ui.experimentDetails.ExperimentMap" />
        <activity android:name=".ui.trial.AddMeasurementTrialActivity" />
        <activity android:name=".ui.trial.GenerateTrialQRActivity" />
        <activity android:name=".ui.trial.AddIntegerTrialActivity"/>
        <activity android:name=".ui.trial.AddCountTrialActivity"/>
        <activity android:name=".ui.trial.AddBinomialTrialActivity"/>
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.contributors.ContributorsActivity"/>
        <activity android:name=".ui.experimentDetails.ExperimentDetailsActivity"
                    android:parentActivityName=".ui.experimentDetails.ExperimentDetailsActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>